# Base de données
DATABASE_URL=postgresql://mii:mii@postgres:5432/miidb

# Serveur simulation
WS_PORT=3001
NODE_ENV=development

# Dashboard
VITE_WS_URL=ws://localhost:3001
VITE_API_URL=http://localhost:3000
